/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

div {
 font-family: proxima-nova,Proxima Nova,Arial,Helvetica,sans-serif
}

.seatnerd-text {
    color: white;
    font-size: 20px;
    font-family: Gilroy, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.logo-and-title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.seatgeek-logo {
  height: 24px;
}

.navbar {
      display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 20px;
}

 header {     font-size: 30px;
     /* display: flex;
     font-weight: bold;
     justify-content: space-between;
     align-items: center;
     padding: 9px;
     padding-top: 140px;*/
    height: 440px;
    background-image: url(https://seatgeek.com/assets/homepage/header@1280.jpg), linear-gradient(90deg, rgb(213, 115, 106) 0%, rgb(207, 129, 85) 56%, rgb(114, 55, 42) 100%);
 }

 .modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form-container {
   display: flex;
   justify-content: center;
 }

 .login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
 }

 .login-input {
   width: 97%;
 }

 .login-form-box {
   outline: 1px solid black;
   padding: 20px;
   background: white;
   position: relative;
   border-radius: .75em;
 }

 button {
   border-radius: 8px;
   background: white;
   font: 400 16px proxima-nova,Proxima Nova,Helvetica Neue,Arial,Helvetica;
   height: 35px;
   cursor: pointer;
 }

.session-submit {
  border-radius: 8px;
    font: 400 16px proxima-nova,Proxima Nova,Helvetica Neue,Arial,Helvetica;
    height: 35px;
    color: rgb(255, 255, 255);
    background: rgb(22, 115, 230);
    border-color: rgb(22, 115, 230);
    transition: background 0.2s ease 0s;
}

.session-submit:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.header-name {
  color: white;
  font-size: 19px;
}

.close-x {
  font-weight: bold;
}

.intro-splash-tagline {
    position: absolute;
    top: 170px;
    letter-spacing: -0.00833333em;
    -webkit-font-smoothing: antialiased;
    font-family: Gilroy, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin: 0px;
    left: 120px;
    font-size: 48px;
}

.login-button {
  background: transparent;
  color: white;
  border: transparent;
}

.signup-button {
  background: #00000033;
  color: white;
  border: transparent;
}

.login-button:hover {
  background-color: white;
  color: #1673e6;
  transition-duration: 0.6s;
}

.signup-button:hover {
  background-color: white;
  color: #1673e6;
  transition-duration: 0.6s;
}